.full-width {
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background: url("../../../assets/home.jpg") no-repeat center center/cover;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.login-form {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
}

.login-form h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.login-form label {
  font-size: 20px;
  margin: 15px 0;
}

.login-form input {
  font-size: 17px;
  width: 100%;
  padding: 15px 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
}

.login-form button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 5px 5px;
  width: 50%;
  border-radius: 5px;
}
