<body>
  <div class="login-form">
    <h1>Login Here</h1>
    <form (ngSubmit)="formSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          [(ngModel)]="loginData.username"
          required
          name="username"
          placeholder="Enter here"
          username
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          [(ngModel)]="loginData.password"
          required
          name="password"
          type="password"
          id="password"
          placeholder="Enter here"
        />
      </div>

      <button type="submit">Login</button>
      <button type="reset">Reset</button>
    </form>
  </div>
</body>
<app-footer></app-footer>
