<body>
  <div class="full">
    <mat-card>
      <h1 class="text-center">Change Password</h1>

      <form (ngSubmit)="formSubmit()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            required
            [(ngModel)]="data.newPassword"
            name="newPassword"
            type="password"
            matInput
            placeholder="Enter here"
          />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            required
            [(ngModel)]="data.confirmPassword"
            name="confirmPassword"
            type="password"
            matInput
            placeholder="Enter here"
          />
        </mat-form-field>

        <div class="container text-center">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            style="margin-right: 20px"
          >
            Change Password
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</body>
