<footer
  class="bg-light text-center text-lg-start fixed-bottom"
  style="opacity: 0.8"
>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 <a class="text-dark" href="/">GipherApp</a> : All rights reserved ||
    Created by <a class="text-dark" href="https://www.facebook.com/sayan.paul.58726/" target="blank">Sayan Paul</a>,
    <a class="text-dark" href="https://www.facebook.com/sankhadeep.ray.5/" target="blank">Sankhadeep Ray</a>,
    <a class="text-dark" href="https://www.facebook.com/100008081987259/" target="blank">Pradeep Yadav</a>
  </div>
</footer>
