<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gif</title>
  </head>
  <body>
    <div class="full">
      <div class="gifs top">
        <mat-card id="cards" class="gif" *ngFor="let gif of gifs">
          <a [href]="gif.original_url" target="blank"
            ><img [src]="gif.url" alt="Image" id="image"
          /></a>
          <h2 class="card-title" style="margin: 10px">{{ gif.title }}</h2>
          <mat-card-actions class="d-flex flex-row">
            <button
              mat-stroked-button
              color="warn"
              class="mx-auto"
              (click)="onClickUnfavourites(gif)"
            >
              Unfavourite
            </button>
            <button
              mat-stroked-button
              color="primary"
              class="mx-auto"
              (click)="onClickFavourite(gif)"
            >
              Favourite
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </body>
</html>
